name: Resumen Diario de Noticias

on:
  schedule:
    - cron: '0 11 * * *'
  workflow_dispatch:

jobs:
  enviar-noticias:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: |
        pip install feedparser requests beautifulsoup4 lxml
    
    - name: Run script
      env:
        GMAIL_USER: ${{ secrets.GMAIL_USER }}
        GMAIL_APP_PASSWORD: ${{ secrets.GMAIL_APP_PASSWORD }}
        DESTINATARIOS: ${{ secrets.DESTINATARIOS }}
        NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
      run: python bot_noticias.py
